Sure, let's start with some basic pandas operations. First, you need to import the pandas library and read the CSV file into a DataFrame. Here are some common operations you can perform:

1. **Import pandas and read the CSV file:**

In [4]:
import pandas as pd

# Read the CSV file into a DataFrame
ecb_df = pd.read_csv("ServiceCodes_ECB.csv")



2. **Display the first few rows of the DataFrame:**

In [5]:
print(ecb_df.head())

            SPA Service Code   Record Desc    Charge  Stop Date New Charge  \
0  8155SYS TOT         DF001  IA V/D MODEM   $12.00       13120   $ 12.50
1  8155SYS TOT         DF003  L-RNTXI/XVEQ   $12.00       13120   $ 12.50
2  8155SYS TOT         DF004  RNTXVONLYEQ    $12.00       13120   $ 12.50
3  8155SYS TOT         DF006  HMPT1LEMTCHN   $12.00       13120   $ 12.50
4  8155SYS TOT         DF012  L-RNTXI/XVEQ   $12.00       13120   $ 12.50

   System  Prin Agent
0    8155  SYS    TOT
1    8155  SYS    TOT
2    8155  SYS    TOT
3    8155  SYS    TOT
4    8155  SYS    TOT



3. **Get summary statistics of the DataFrame:**

In [6]:
print(ecb_df.describe())

       Stop Date   System
count    28222.0  28222.0
mean     13120.0   8155.0
std          0.0      0.0
min      13120.0   8155.0
25%      13120.0   8155.0
50%      13120.0   8155.0
75%      13120.0   8155.0
max      13120.0   8155.0



4. **Display the column names:**

In [7]:
print(ecb_df.columns)

Index(['SPA', 'Service Code', 'Record Desc', 'Charge', 'Stop Date',
       'New Charge', 'System', 'Prin', 'Agent'],
      dtype='object')



5. **Filter rows based on a condition:**

In [10]:
# Example: Filter rows where 'service_code' is 'ABC123'
filtered_df = ecb_df[ecb_df["Service Code"] == "DF001"]
print(filtered_df)

                SPA Service Code   Record Desc    Charge  Stop Date  \
0      8155SYS TOT         DF001  IA V/D MODEM   $12.00       13120
91     81557000TOT         DF001  IA V/D MODEM   $12.00       13120
176    815570000070        DF001  IA V/D MODEM   $12.00       13120
261    815570000060        DF001  IA V/D MODEM   $12.00       13120
346    815570000050        DF001  IA V/D MODEM   $12.00       13120
...             ...          ...           ...       ...        ...
27465  815510000060        DF001  IA V/D MODEM   $12.00       13120
27553  815510000050        DF001  IA V/D MODEM   $12.00       13120
27641  815510000040        DF001  IA V/D MODEM   $12.00       13120
27729  815510000030        DF001  IA V/D MODEM   $12.00       13120
27815  815510000020        DF001  IA V/D MODEM   $12.00       13120

      New Charge  System  Prin Agent
0       $ 12.50     8155  SYS    TOT
91      $ 12.50     8155  7000   TOT
176     $ 12.50     8155  7000  0070
261     $ 12.50     8155  7000  0060
346     $ 12.50     8155  7000  0050
...          ...     ...   ...   ...
27465   $ 12.50     8155  1000  0060
27553   $ 12.50     8155  1000  0050
27641   $ 12.50     8155  1000  0040
27729   $ 12.50     8155  1000  0030
27815   $ 12.50     8155  1000  0020

[315 rows x 9 columns]



6. **Group by a column and get the mean of each group:**

In [12]:
# Example: Group by 'service_code' and get the mean of 'tar_value'
grouped_df = ecb_df.groupby("Service Code")["System"].mean()
print(grouped_df)

Service Code
DF001    8155.0
DF003    8155.0
DF004    8155.0
DF006    8155.0
DF012    8155.0
          ...
VP227    8155.0
VP293    8155.0
VP324    8155.0
VP347    8155.0
VTL06    8155.0
Name: System, Length: 103, dtype: float64



7. **Add a new column based on existing columns:**

In [13]:
# Example: Add a new column 'difference' which is the difference between 'tar_value' and 'ecb_value'
ecb_df["difference"] = ecb_df["System"] - ecb_df["Stop Date"]
print(ecb_df.head())

            SPA Service Code   Record Desc    Charge  Stop Date New Charge  \
0  8155SYS TOT         DF001  IA V/D MODEM   $12.00       13120   $ 12.50
1  8155SYS TOT         DF003  L-RNTXI/XVEQ   $12.00       13120   $ 12.50
2  8155SYS TOT         DF004  RNTXVONLYEQ    $12.00       13120   $ 12.50
3  8155SYS TOT         DF006  HMPT1LEMTCHN   $12.00       13120   $ 12.50
4  8155SYS TOT         DF012  L-RNTXI/XVEQ   $12.00       13120   $ 12.50

   System  Prin Agent  difference
0    8155  SYS    TOT       -4965
1    8155  SYS    TOT       -4965
2    8155  SYS    TOT       -4965
3    8155  SYS    TOT       -4965
4    8155  SYS    TOT       -4965



8. **Save the modified DataFrame to a new CSV file:**

In [14]:
ecb_df.to_csv("Modified_ServiceCodes_ECB.csv", index=False)



These are some basic operations you can perform using pandas. Let me know if you need help with any specific operation or if you have any other questions!